make-scenario-textbuilder-bus-brussels.json
{
  "name": "TextBuilder → bus.brussels Blog Autopilot",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 0,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "label": "textbuilder-bus-brussels (créer nouveau)"
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompression": true
      },
      "mapper": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "headers": [
          {
            "name": "x-api-key",
            "value": "REMPLACER_PAR_VOTRE_CLE_ANTHROPIC"
          },
          {
            "name": "anthropic-version",
            "value": "2023-06-01"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "timeout": "",
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "canSendFileByURL": false,
        "contentType": "application/json",
        "body": "{\"model\":\"claude-opus-4-5\",\"max_tokens\":4096,\"messages\":[{\"role\":\"user\",\"content\":\"Tu es un expert SEO francophone specialiste du transport en bus a Bruxelles.\\nA partir du texte ci-dessous, genere un objet JSON avec exactement ces 8 champs (rien d'autre) :\\n\\n- body_html : contenu HTML semantique complet (balises h2, h3, p, ul, strong). YOAST SEO optimise, mots-cles en gras, minimum 3 liens internes : bus-avec-chauffeur.html devis-bus-bruxelles.html location-bus-bruxelles.html\\n- excerpt : resume 2-3 phrases, maximum 160 caracteres\\n- meta_description : 140-160 caracteres, inclut le mot-cle principal\\n- meta_title : maximum 60 caracteres, contient le mot-cle\\n- focus_keyword : mot-cle principal (ex: location bus Bruxelles)\\n- tags : tableau JSON de 5 a 8 mots-cles (ex: [\\\"location bus\\\",\\\"Bruxelles\\\",\\\"transport groupe\\\"])\\n- read_time : nombre entier de minutes de lecture\\n- slug : slug URL en kebab-case francais (ex: guide-location-bus-bruxelles-2025)\\n\\nTitre : {{escapeJSON(1.title)}}\\nCategorie : {{escapeJSON(1.category)}}\\nDate : {{escapeJSON(1.date_display)}}\\n\\nTexte a traiter :\\n{{escapeJSON(1.body_text)}}\\n\\nREPONDS UNIQUEMENT AVEC LE JSON BRUT. Aucune balise markdown, aucun commentaire, aucun texte avant ou apres le JSON.\"}]}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "method": {
              "label": "POST"
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": "{\"type\":\"collection\",\"spec\":[{\"name\":\"body_html\",\"type\":\"text\"},{\"name\":\"excerpt\",\"type\":\"text\"},{\"name\":\"meta_title\",\"type\":\"text\"},{\"name\":\"meta_description\",\"type\":\"text\"},{\"name\":\"focus_keyword\",\"type\":\"text\"},{\"name\":\"tags\",\"type\":\"array\",\"spec\":{\"name\":\"value\",\"type\":\"text\"}},{\"name\":\"read_time\",\"type\":\"number\"},{\"name\":\"slug\",\"type\":\"text\"}]}"
      },
      "mapper": {
        "json": "{{2.data.content[1].text}}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompression": true
      },
      "mapper": {
        "url": "https://bus-brussels.onrender.com/api/auth/login",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "timeout": "90",
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "canSendFileByURL": false,
        "contentType": "application/json",
        "body": "{\"password\":\"Kosovi333@gmail.com\"}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        },
        "restore": {
          "expect": {
            "method": {
              "label": "POST"
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            }
          }
        }
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompression": true
      },
      "mapper": {
        "url": "https://bus-brussels.onrender.com/api/posts",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{4.data.token}}"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "timeout": "90",
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "canSendFileByURL": false,
        "contentType": "application/json",
        "body": "{\"status\":\"published\",\"featured\":false,\"slug\":\"{{3.slug}}\",\"content\":{\"title\":\"{{escapeJSON(1.title)}}\",\"excerpt\":\"{{escapeJSON(3.excerpt)}}\",\"body_html\":\"{{escapeJSON(3.body_html)}}\",\"category\":\"{{1.category}}\",\"image_url\":\"\",\"image_alt\":\"{{escapeJSON(1.title)}}\",\"read_time\":{{3.read_time}},\"date_display\":\"{{escapeJSON(ifempty(1.date_display; formatDate(now; \"D MMMM YYYY\"; \"fr\")))}}\",\"tags\":[{{join(3.tags; \",\"; \"\\\"{{item}}\\\"\")}}]},\"seo\":{\"meta_title\":\"{{escapeJSON(3.meta_title)}}\",\"meta_description\":\"{{escapeJSON(3.meta_description)}}\",\"focus_keyword\":\"{{escapeJSON(3.focus_keyword)}}\",\"canonical\":\"https://bus.brussels/blog/{{3.slug}}.html\",\"og_title\":\"{{escapeJSON(3.meta_title)}}\",\"og_description\":\"{{escapeJSON(3.meta_description)}}\",\"og_image\":\"\"}}"
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        },
        "restore": {
          "expect": {
            "method": {
              "label": "POST"
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            }
          }
        }
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompression": true
      },
      "mapper": {
        "url": "https://bus-brussels.onrender.com/api/generate",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{4.data.token}}"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "timeout": "90",
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "canSendFileByURL": false,
        "contentType": "application/json",
        "body": "{}"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        },
        "restore": {
          "expect": {
            "method": {
              "label": "POST"
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            }
          }
        }
      }
    },
    {
      "id": 7,
      "module": "email:ActionSendEmail",
      "version": 6,
      "parameters": {
        "account": 0
      },
      "mapper": {
        "to": "info@bus.brussels",
        "subject": "✅ Article publié — {{1.title}}",
        "html": "<h2 style='color:#0369a1'>✅ Article publié sur bus.brussels</h2><table style='border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:14px'><tr><td style='padding:8px;border:1px solid #e2e8f0;background:#f0f9ff;font-weight:bold'>Titre</td><td style='padding:8px;border:1px solid #e2e8f0'>{{1.title}}</td></tr><tr><td style='padding:8px;border:1px solid #e2e8f0;background:#f0f9ff;font-weight:bold'>Catégorie</td><td style='padding:8px;border:1px solid #e2e8f0'>{{1.category}}</td></tr><tr><td style='padding:8px;border:1px solid #e2e8f0;background:#f0f9ff;font-weight:bold'>Slug</td><td style='padding:8px;border:1px solid #e2e8f0'>{{3.slug}}</td></tr><tr><td style='padding:8px;border:1px solid #e2e8f0;background:#f0f9ff;font-weight:bold'>URL article</td><td style='padding:8px;border:1px solid #e2e8f0'><a href='https://bus.brussels/blog/{{3.slug}}.html'>https://bus.brussels/blog/{{3.slug}}.html</a></td></tr><tr><td style='padding:8px;border:1px solid #e2e8f0;background:#f0f9ff;font-weight:bold'>Mot-clé SEO</td><td style='padding:8px;border:1px solid #e2e8f0'>{{3.focus_keyword}}</td></tr><tr><td style='padding:8px;border:1px solid #e2e8f0;background:#f0f9ff;font-weight:bold'>Temps lecture</td><td style='padding:8px;border:1px solid #e2e8f0'>{{3.read_time}} min</td></tr><tr><td style='padding:8px;border:1px solid #e2e8f0;background:#f0f9ff;font-weight:bold'>Post ID</td><td style='padding:8px;border:1px solid #e2e8f0'>{{5.data.id}}</td></tr><tr><td style='padding:8px;border:1px solid #e2e8f0;background:#f0f9ff;font-weight:bold'>Blog régénéré</td><td style='padding:8px;border:1px solid #e2e8f0'>✅ Oui — commit GitHub créé</td></tr></table><br><p style='font-size:12px;color:#64748b'>Envoyé automatiquement par le pipeline TextBuilder → bus.brussels</p>",
        "fromName": "bus.brussels Autopilot"
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        },
        "restore": {
          "parameters": {
            "account": {
              "label": "Ajouter un compte email"
            }
          }
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}
